<section class="bgc-blue-grey-50 slide-show-section">
  <div layout-gt-xs="row">

    <div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xl']">
      <div tdMediaToggle="gt-sm" [mediaClasses]="['push-lg']">

        <!-- Carousel -->
        <shared--carousel [dataSource]="dataSource"></shared--carousel>

      </div>
    </div>
  </div>
</section>

<section class="bgc-blue-A700 tc-white" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-md', 'pad-bottom-xl']">
  <h2 class="mat-display-1 text-upper text-center push-bottom">Work with bleeding edge technology</h2>
  <div layout="row" layout-align-gt-xs="center center">
    <div flex-gt-xs="80" layout="row" layout-wrap>
      <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3]">
        <div class="text-center" flex-xs="50" flex-gt-xs="25">
          <mat-icon class="push" style="height:auto;width:auto;" svgIcon="assets:covalent-mark"></mat-icon>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="text-center push-top">
    <button mat-raised-button color="accent" class="mat-button-lg text-upper">View Technology</button>
  </div>
</section>

<section class="bgc-blue-grey-100" tdMediaToggle="gt-xs" [mediaClasses]="['pad-top-xl', 'pad-bottom-xl']">
  <h2 class="mat-display-1 text-upper text-center push-bottom">Current Team Openings</h2>

  <div layout-gt-xs="row" layout-align-gt-xs="center center">
    <div layout-gt-xs="row" flex-gt-xs="90" layout-margin>

      <div flex-gt-xs="25">
        <mat-card>
          <mat-toolbar color="accent" class="bgc-blue-A400 push-bottom">
            <span class="text-upper">Frontend</span>
          </mat-toolbar>
          <mat-card-subtitle>Openings</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-list>
            <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
              <mat-list-item>
                <mat-icon mat-list-icon class="fill-grey-700">description</mat-icon>
                <h4 matLine>Frontend Engineer</h4>
              </mat-list-item>
              <mat-divider mat-inset *ngIf="!last"></mat-divider>
            </ng-template>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <a mat-button color="accent" class="text-upper">View All</a>
          </mat-card-actions>
        </mat-card>
      </div>

      <div flex-gt-xs="25">
        <mat-card>
          <mat-toolbar color="accent" class="bgc-light-blue-A400 push-bottom">
            <span class="text-upper">Backend</span>
          </mat-toolbar>
          <mat-card-subtitle>Openings</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-list>
            <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
              <mat-list-item>
                <mat-icon mat-list-icon class="fill-grey-700">description</mat-icon>
                <h4 matLine>Backend Engineer</h4>
              </mat-list-item>
              <mat-divider mat-inset *ngIf="!last"></mat-divider>
            </ng-template>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <a mat-button color="accent" class="text-upper">View All</a>
          </mat-card-actions>
        </mat-card>
      </div>

      <div flex-gt-xs="25">
        <mat-card>
          <mat-toolbar color="accent" class="bgc-cyan-A700 push-bottom">
            <span class="text-upper">DevOps</span>
          </mat-toolbar>
          <mat-card-subtitle>Openings</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-list>
            <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
              <mat-list-item>
                <mat-icon mat-list-icon class="fill-grey-700">description</mat-icon>
                <h4 matLine>DevOps Engineer</h4>
              </mat-list-item>
              <mat-divider mat-inset *ngIf="!last"></mat-divider>
            </ng-template>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <a mat-button color="accent" class="text-upper">View All</a>
          </mat-card-actions>
        </mat-card>
      </div>

      <div flex-gt-xs="25">
        <mat-card>
          <mat-toolbar color="accent" class="bgc-teal-A700 push-bottom">
            <span class="text-upper">Quality</span>
          </mat-toolbar>
          <mat-card-subtitle>Openings</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-list>
            <ng-template let-item let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
              <mat-list-item>
                <mat-icon mat-list-icon class="fill-grey-700">description</mat-icon>
                <h4 matLine>Quality Engineer</h4>
              </mat-list-item>
              <mat-divider mat-inset *ngIf="!last"></mat-divider>
            </ng-template>
          </mat-list>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <a mat-button color="accent" class="text-upper">View All</a>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>

  <div class="text-center push-top">
    <button mat-raised-button color="accent" class="mat-button-lg text-upper">View All Openings</button>
  </div>

</section>

<section class="bgc-green-A700">
  <div layout-gt-xs="row">
    <div flex="40" layout="row" layout-align="center center">
      <mat-icon class="push" style="height:auto;width:auto;" svgIcon="assets:covalent-mark"></mat-icon>
    </div>
    <div flex class="pad" tdMediaToggle="gt-xs" [mediaClasses]="['pad-xxl']">
      <div class="push-top-xxl" hide-xs></div>
      <h3 class="mat-display-1 tc-white push-top-xs push-bottom-sm">The most desirable locations</h3>
      <p class="mat-title tc-blue-50">Austin, Boston, San Diego and The Bay Area!</p>
      <button color="accent" mat-raised-button class="push-bottom-md text-upper">View More</button>
      <div class="push-top-xxl" hide-xs></div>
    </div>
  </div>
</section>
<!-- <div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-sm']">
  <div flex-gt-sm="50">
    <mat-card>
      <mat-card-title>
        <div layout="row" layout-align="start center">
          <span flex>Card title</span>
          <span>
            <button mat-icon-button matTooltip="Card settings" [mat-menu-trigger-for]="settings4">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu xPosition="before" #settings4="matMenu">
              <button mat-menu-item> Settings </button>
              <mat-divider></mat-divider>
              <button mat-menu-item> Remove </button>
            </mat-menu>
          </span>
        </div>
      </mat-card-title>
      <mat-divider></mat-divider>
      <td-data-table [data]="data" [style.height.px]="290">
      </td-data-table>
    </mat-card>
  </div>
</div> -->
